<h3 class="text-2xl font-semibold mt-0 mb-2 text-slate-100">Recent submits</h3>
<table class="table-auto w-full">
    <thead>
        <tr class="border-b border-white">
            <th> submit id </th>
            <th> problem </th>
            <th> date </th>
            <th> status </th>
        </tr>
    </thead>
    <% for (const submit of submits) { %>
        <tr class="cursor-pointer hover:bg-zinc-700 odd:bg-zinc-900 even:bg-zinc-800 text-center"
            onclick='location.href="/results/<%= submit.id %>"'>
            <td class="px-2 py-2">
                <%= submit.id %>
            </td>
            <td class="px-2 py-2">
                <%= submit.short_problem_name %>
            </td>
            <td class="p-2">
                <%= submit.submission_time %>
            </td>
            <td class="px-0 py-0">
                <%- await include("views/short-status.ejs", {status: submit.status}); %>
            </td>
        </tr>

        </a>
        <% } %>
</table>