<div class="flex flex-col text-lg">
    <a href="/contest/<%= contest.id %>">
        <h3 class="text-2xl font-semibold mt-0 mb-2 text-slate-100 text-link">
            <%= contest.name %>
        </h3>
    </a>
    <a href="/contest/<%= contest.id %>/about" class="text-link cursor-pointer py-2 ">
        About
    </a>
    <a href="/contest/<%= contest.id %>/results" class="text-link cursor-pointer py-2">
        Results
    </a>
    <a href="/contest/<%= contest.id %>" class="text-link cursor-pointer py-2">
        Problems
    </a>
</div>