<!DOCTYPE html>
<html lang="en">

<head>
    <%- await include("views/common-head.ejs"); %>
        <title>
            Tanuki
        </title>
</head>

<body class="bg-zinc-900 text-white">
    <%- await include("views/nav.ejs", {user: user}); %>

        <div class=" container mx-auto p-6 divide-x">
            <div class="flex flex-col space-x-4">
                <div class="flex flex-row text-lg">
                    <div class="flex flex-row grow gap-4">
                        <h3 class="text-2xl font-semibold mt-0 mb-2 text-slate-100">
                            <a href="/contest/<%= contest.id %> ">
                                <%= contest.shortname %>
                            </a> / <%= problem.name %>
                        </h3>
                        <a href="/submit/<%= contest.id %>/<%= problem.id %>" class="text-blue-500">
                            submit
                        </a>
                    </div>

                    <div>
                        <%- await include("views/status.ejs", {status: "OK" }); %>
                    </div>

                </div>
                <div class="grow">
                    <h3 class="text-2xl font-semibold mt-0 mb-2 text-slate-100">
                        Treść zadania
                    </h3>
                    Nigdy nie rozumiałem po co ludzie czytają treści z obiektówki, to czy przeczytasz treść czy nie nie
                    ma żadnego wpływu na wynik. Przecież zadania z obiektówki są dołożone do punktacji przedmiotu dla
                    beki i i tak nie da się ich zrobić. Gdzieś po drugiej stronie satorki siedzą doktory profesory z
                    ukrytą kamerą i się śmieją "haha jaki debil próbuje zadanie I zrobić". Jeszcze potem na forach, żeby
                    ludzie się nie ziornęli, że to żart, robią jakieś fejkowe "powody niedziałania". Wychodzi jakiś
                    test, kompiluje się to 5 min, "nullpointer runtime error ANS RTE kurka". Tu sobie mamy rzucać
                    exception i nawet nie napiszemy, że takie istnieje. Tu sobie możemy dodać 10 milionów książek do
                    książki o capacity 0, i też bez powodu "bo to widać ze specyfikacji hehe". I ludzie się na to
                    nabierają i nadal myślą, że zadania z obiektówki się da zrobić. W ogóle, kto to widział, żeby na TCS
                    były zadania, gdzie trzeba czytać ze zrozumieniem. To jest kierunek INFORMATYCZNY, jak ktoś chce
                    sobie czytać, to niech idzie na wydział naprzeciwko czy coś.
                </div>
            </div>
        </div>

        <%- await include("views/common-scripts.ejs"); %>
</body>

</html>