<div class="overflow-y-auto py-4 px-3">
    <table class="table-auto w-full">
        <thead>
            <tr class="border-b border-white">
                <th>code</th>
                <th>name</th>
                <th>deadline</th>
                <th>result</th>
            </tr>
        </thead>

        <% for (const problem of problems) { %>

            <tr class="hover:bg-zinc-700 hover:cursor-pointer odd:bg-zinc-900 even:bg-zinc-800 text-center"
                onclick="location.href = '/contest/<%= problem.contest_id %>/problem/<%= problem.id %>'">
                <td class="px-2 py-2">
                    <%= problem.shortname %>
                </td>
                <td class="px-2 py-2">
                    <%= problem.name %>
                </td>
                <td class="px-2 py-2">
                    <%= problem.due_date %>
                </td>
                <td class="px-2 py-2 status-<%= problem.status %>">
                    <% if (typeof(problem.points) !='undefined' ) { %>
                        <%= problem.points %> / <%= problem.max %> (<%= problem.current_max %>)
                                    <% } %>

                                        <%- await include("views/status.ejs", {status: problem.status}); %>
                </td>
            </tr>
            <% } %>
    </table>
</div>