<!DOCTYPE html>
<html lang="en">

<head>
    <%- await include("views/common-head.ejs"); %>
        <title>
            Tanuki
        </title>
</head>

<body class="bg-slate-900 text-white">
    <%- await include("views/nav.ejs", {user: user}); %>

        <div class=" container mx-auto p-6 divide-x">
            <div class="flex flex-col md:flex-row space-x-4">
                <%- await include("views/teacher/contest-menu.ejs", {contest}); %>
                    <div class="grow">
                        <%- await include("views/teacher/problems-list.ejs", {contest, problems}); %>
                    </div>
            </div>
        </div>

        <%- await include("views/common-scripts.ejs"); %>
</body>

</html>