<div class="overflow-y-auto">
    <table class="table-auto w-full">
        <thead>
            <tr class="border-b border-white">
                <th>code</th>
                <th>name</th>
                <th>full points</th>
                <th>deadline</th>
                <th>actions</th>
            </tr>
        </thead>
        <% for(const problem of problems) { %>
            <tr class="hover:bg-slate-700 hover:cursor-pointer even:bg-slate-900 odd:bg-slate-800 text-center"
                onclick="location.href='/teacher/contest/<%= contest.id %>/problem/<%= problem.id %>/edit'">
                <td class="p-2">
                    <%= problem.short_name %>
                </td>
                <td class="p-2">
                    <%= problem.name %>
                </td>
                <td class="p-2">
                    <%= new Date(problem.due_date).toISOString().split('T')[0] %>
                </td>
                <td class="p-2">
                    <%= new Date(problem.closing_date).toISOString().split('T')[0] %>
                </td>
                <td class="p-2 flex flex-row gap-5 justify-center">
                    <a href="/teacher/contest/<%= contest.id %>/problem/<%= problem.id %>" class="submit-btn">view</a>
                </td>
            </tr>
            <% } %>
    </table>
    <a href="/contest/<%=contest.id%>/add" class="text-link">new problem</a>
</div>