<!DOCTYPE html>
<html lang="en">

<head>
    <%- await include("views/common-head.ejs"); %>
        <title>
            Tanuki
        </title>
</head>

<body class="bg-slate-900 text-white">
    <%- await include("views/nav.ejs", {user: user}); %>

        <div class=" container mx-auto p-6 divide-x ">
            <div class="flex place-content-center gap-10">
                <form method="post" enctype="application/x-www-form-urlencoded"
                    action="/admin/edit-contest/<%= contest.id %>" class="flex justify-center">
                    <div class="flex flex-col gap-4">
                        <h1 class="text-2xl">Editing: <%= contest.shortname %>
                        </h1>
                        <div class="grid grid-cols-2 auto-rows-min gap-4 flex-col max-w-sm align-middle">
                            Name:
                            <input type="text" name="name" value="<%= contest.name %> " />
                            Short name:
                            <input type="text" name="shortname" value="<%= contest.shortname %>" />
                            Is Active:
                            <input type="checkbox" name="is_active" <%=contest.is_active ? " checked" : "" %> />

                            <span class=" text-red-500">
                                <% if (typeof(error) !='undefined' ) { %>
                                    <%= error %>
                                        <% } %>
                            </span>
                        </div>
                        <button type="submit" class="submit-btn">
                            Edit
                        </button>
                    </div>

                </form>
                <div class="flex flex-col mb-4">
                    <h1 class="text-2xl"> Owners </h1>
                    <% if(owners.length !=0) { %>
                        <table class="table-auto w-full">
                            <thead>
                                <tr class="border-b border-white">
                                    <th>login</th>
                                    <th>name</th>
                                    <th>surname</th>
                                </tr>
                            </thead>
                            <% for (const user of owners) { %>
                                <tr class="hover:bg-slate-700 hover:cursor-pointer even:bg-slate-900 odd:bg-slate-800 text-center"
                                    onclick="location.href='/admin/user/<%= user.id %>'">
                                    <td class="p-2">
                                        <%= user.login%>
                                    </td>
                                    <td class="p-2">
                                        <%= user.name%>
                                    </td>
                                    <td class="p-2">
                                        <%= user.surname%>
                                    </td>
                                    <td class="p-2">
                                        <a href="/admin/delete-owner/<%= contest.id %>/<%= user.id %>">
                                            <ion-icon style="color: red" name="trash-outline" class="pt-2"></ion-icon>
                                        </a>
                                    </td>

                                </tr>
                                <% } %>
                        </table>
                        <% } %>
                            <a href="/admin/add-owner/<%= contest.id %>" class="normal-btn"> add owner</a>
                </div>
            </div>
        </div>

        <%- await include("views/common-scripts.ejs"); %>
</body>

</html>