<div>
    <% const fraction=points/max; %>
        <% let green=fraction; let red=1 - fraction; %>
            <% let length=Math.max(green*green + red*red) %>
                <% green /=length; red /=length %>

                    <p class="text-lg" style="color: rgb(<%= red * 255%>, <%= green * 255 %>,0.0)">
                        <b>
                            <%= points.toFixed(2) %> / <%= current_max.toFixed(2) %> (<%= max.toFixed(2) %>)
                        </b>
                    </p>
</div>