<% if (typeof(status) !='undefined' && status !=null) { %>
    <b>
        <div class="status-<%= status.name.toLowerCase() %> status-text text-lg">
            <%= status.name %>
                <% if (status.points !=null) { %>
                    <%= status.points %> / <%= status.max_points %>
                            <% if (typeof(status.score) !='undefined' ) { %>
                                (<%= status.score %>)
                                    <% } %>
                                        <% } %>
        </div>
    </b>
    <% } %>