<!DOCTYPE html>
<html lang="en">

<head>
  <%- await include("views/common-head.ejs"); %>
  <title>
    Tanuki
  </title>
</head>

<body class="bg-zinc-900 text-white">
  <%- await include("views/nav.ejs"); %>

  <%- await include("views/nav.ejs", {user: user}); %>

  <div class="flex flex-col justify-center">
    <h2 class="text-4xl text-center mb-8 p-4"> List of statuses, with their colors </h2>

    <div class="flex mx-auto">
      <% for (const status of statuses) { %>
      <div class="block p-4 status-<%= status.toLowerCase() %>"> <%= status %> </div>
      <% } %>
    </div>
  </div>

  <%- await include("views/common-scripts.ejs"); %>
</body>

</html>