<!DOCTYPE html>
<html lang="en">

<head>
  <%- await include("views/common-head.ejs"); %>
    <title>
      Tanuki
    </title>
</head>

<body class="bg-zinc-900 text-white">
  <%- await include("views/nav.ejs", {user: user}); %>

    <div class=" container mx-auto p-6 divide-x">
      <div class="flex flex-col md:flex-row gap-5">
        <div class="grow">
          <h3 class="text-2xl font-semibold mt-0 mb-2 text-slate-100">Your contests</h3>
          <div class="flex flex-col mb-4 items-start">
            <% for (const contest of contests) { %>
              <a href="/contest/<%= contest.id %>" class="text-link cursor-pointer py-2 ">
                <%= contest.name %>
              </a>
              <% } %>
          </div>

          <%- await include("views/recent-submits.ejs", {submits: recent_submits}); %>

        </div>
        <%- await include("views/sidebar.ejs", {problems: due_problems}); %>
      </div>
    </div>

    <%- await include("views/common-scripts.ejs"); %>
</body>

</html>