<!DOCTYPE html>
<html lang="en">

<head>
  <%- await include("views/common-head.ejs"); %>
  <title>
    Tanuki
  </title>
</head>

<body class="bg-zinc-900 text-white">
  <%- await include("views/nav.ejs", {user: user}); %>
  <div class=" container mx-auto p-6">
    <div>
      <h3 class="text-2xl font-semibold mt-0 mb-2 text-slate-100">Your contests</h3>
      <div class="flex flex-col mb-4">
        <% for (const contest of contests) { %>
        <a href="/contest/<%= contest[0] %>" class="cursor-pointer py-2 hover:text-slate-300"><%= contest[1] %></a>
        <% } %>
      </div>

      <h3 class="text-2xl font-semibold mt-0 mb-2 text-slate-100">Recent submits</h3>
      <table class="table-auto w-full">
        <thead>
          <tr class="border-b border-white">
            <th>
              submit id
            </th>
            <th>
              problem
            </th>
            <th>
              status
            </th>
          </tr>
        </thead>
        <% for (const submit of submits) { %>
        <tr class="odd:bg-zinc-800 even:bg-zinc-700 text-center">
          <td class="px-2 py-2">
            <a href="/contest/<%= submit[0] %>/submit/<%= submit[0] %>" class="cursor-pointer py-2 
            hover:text-slate-300">
              <%= submit[0] %>
            </a>
          </td>
          <td class="px-2 py-2">
            <%= submit[1] %>
          </td>
          <td class="px-2 py-2 status-<%= submit[2].toLowerCase() %>">
            <%= submit[2] %>
          </td>
        </tr>
        <% } %>
      </table>
    </div>
  </div>

  <%- await include("views/common-scripts.ejs"); %>
</body>

</html>