<!DOCTYPE html>
<html lang="en">

<head>
  <%- await include("views/common-head.ejs"); %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/vs2015.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/haskell.min.js"></script>
    <script src="/js/wait-for-status.js"></script>
    <title>
      Tanuki
    </title>
</head>

<body class="bg-zinc-900">
  <%- await include("views/nav.ejs", { user : user }); %>
    <div class="container mx-auto p-6 text-white">
      <h2 class="text-4xl text-center mb-8 text-white"> Submit <%= results.id %>
      </h2>
      <div class="flex gap-4 flex-col md:flex-row align-middle text-white">

        <div class="grow flex md:flex-col justify-center p-2">
          <b class="grow">Contest: </b>
          <a href="/contest/<%= results.contest_id %>" class="text-link">
            <%= results.contest_name %>
          </a>
        </div>

        <div class="flex md:flex-col justify-center p-2">
          <b class="grow">User: </b>
          <span>
            <%= results.user_name %>
          </span>
        </div>

        <div class="flex md:flex-col justify-center p-2">
          <b class="grow">Problem: </b>
          <a href="/contest/<%= results.contest_id %>/problem/<%= results.problem_id %>" class="text-link">
            <%= results.short_problem_name %>
          </a>
        </div>

        <div class="flex md:flex-col justify-center p-2">
          <b class="grow">Time: </b>
          <%= results.submission_time %>
        </div>

        <div id="status-<%= results.id %>" class="flex md:flex-col justify-center p-2">
          <b class="grow">Status: </b>
          <div class="flex align-middle space-x-4">
            <div class="">
              <%- await include("views/rich-status.ejs", {status: results.status}); %>
            </div>
            <% if (results.status.name.toLowerCase()=="que" ) { %>
              <div class="loading lds-dual-ring"></div>
              <script> waitForStatus("<%= results.id %>") </script>
              <% } %>
          </div>
        </div>

      </div>

      <a class="normal-btn" href="/files/submitted/<%= results.id %>"> Download </a>
      <%- await include("views/task-results.ejs", {group_results: results.group_results}); %>
        <pre><code class="language-<%= results.language_name.toLowerCase() %> hljs"><%= results.src %></code></pre>
    </div>
    <%- await include("views/common-scripts.ejs"); %>
      <script>
        hljs.highlightAll();
      </script>
</body>

</html>